# Binaries
sandbox/
bin/
*.pb.*
*_pb.ts
junk/
gen/
docs/

# Build artifacts
node_modules/
dist/
*.deb
*.rpm
*.pkg.tar.zst
*.apk

# Go
*.exe
*.test

# Editor / OS
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Vagrant
.vagrant/

# Env
*.env
.env.*
!.env.example
repomix*